<template>
  <!-- <div>My Profile / </div>
  <div>Picture / </div>
  <div>name-surname / </div>
  <div>education / </div>
  <div>interested</div> -->
  <v-card class="mx-auto" width="max" rounded="0">
    <v-img
      height="200px"
      cover
      src="https://st2.depositphotos.com/8843414/12482/v/450/depositphotos_124820902-stock-illustration-abstract-circuit-pattern-background.jpg"
    >
      <v-avatar color="gray" size="120px" rounded="0">
        <v-img
          cover
          src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/159846480_1787443958096836_515139741904666957_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGZHKh_rLWQ27NrGUlr6upU_LQMo0lkisn8tAyjSWSKyc8kjBGDVueWPzCj1GGQejf8BC_NC6Pb5O551JeByheB&_nc_ohc=9MCYPOXCxcwAX-E181r&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDekWxY3UGHK6eXk8n1gvdcbRAO-apaUgW3NfLnaCh0xg&oe=63BEF1CA"
        ></v-img>
      </v-avatar>
      <v-list-item
        class="text-gray"
        title="Nipitpon Phaichoo"
        subtitle="64160256"
      ></v-list-item>
    </v-img>
  </v-card>

  <v-table>
    <tr>
      <td style="width: 40%">
        <v-responsive class="overflow-y-auto" max-height="auto">
          <v-timeline class="background">
            <v-timeline-item>
              <template v-slot:opposite>
                <h3>Secondary School <br />(2015 - 2017)</h3>
              </template>
              <div>
                <div class="text-h6">Streesmutprakan School</div>
                <p>
                  Sukhumvit Soi 27, Pak Nam, Mueang Samut Prakan District, Samut
                  Prakan 10270
                </p>
                <v-btn @click="gotoStreesp()">More info</v-btn>
              </div>
            </v-timeline-item>

            <v-timeline-item>
              <v-responsive min-height="15vh"></v-responsive>
              <template v-slot:opposite>
                <h3>High School (2018 - 2020)</h3>
              </template>
              <div>
                <div class="text-h6">Streesmutprakan School</div>
                <p>
                  Sukhumvit Soi 27, Pak Nam, Mueang Samut Prakan District, Samut
                  Prakan 10270
                </p>
                <v-btn @click="gotoStreesp()">More info</v-btn>
              </div>
            </v-timeline-item>

            <v-timeline-item>
              <v-responsive min-height="8vh"></v-responsive>
              <template v-slot:opposite>
                <h3>University (2021 - Now)</h3>
              </template>
              <div>
                <div class="text-h6">Burupha University</div>
                <p>
                  169 Longhaad Bangsaen Road, Saensuk, Mueang, ChonBuri 20131
                </p>
                <v-btn @click="gotoBUU()">More info</v-btn>
              </div>
            </v-timeline-item>
          </v-timeline>
        </v-responsive>
      </td>
      <td style="background-color: #6591c4">
        <div>
          <div class="text-subtitle-2 mb-2 ,d-flex align-baseline mb-6">
            <h2>INTERESTED</h2>
          </div>
          <v-expansion-panels>
            <v-expansion-panel
              title="Music"
              text="I Think I cann't live without music because when I was sad, worried, happied or fell in love. Music is always be by myside 
              and I have many many favourite artists. Example in Thai are"
              src="https://upload.wikimedia.org/wikipedia/th/5/5b/Proud.jpg"
            ></v-expansion-panel>
          </v-expansion-panels>
        </div>
      </td>
    </tr>
  </v-table>
</template>

<script setup lang="ts">
function gotoBUU() {
  window.open("https://www.buu.ac.th/");
}
function gotoStreesp() {
  window.open("http://www.streesp.ac.th/");
}
</script>

<style>
.background {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #3a7bc5;
}
</style>
